:root {
    --light-blue: #7CC5EB;
    --blue: #003759;
    --dark-blue: rgb(1, 16, 32);
    --blue-gradient: linear-gradient(228deg, rgba(1, 16, 32, 1) 3%, rgba(0, 55, 89, 1) 40%);
    --white: #F7F7F7;
    --red: #8d2f29;
    --black: #0e0c15;
    --body-font: 'Pontano Sans', sans-serif;
    --title-font: 'Bevan', cursive;
    --bar-height: 50px;
    --padding: 30px;
}

.body {
    background-image: url(/img/blue.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
}

.body-cover {
    background-color: rgba(255,255,255,.8);
    height: 100%;
    width: 100%;
    color: var(--black);
    font-family: var(--body-font);
    font-size: 25px;
    line-height: 1.2em;
    display: grid;
    grid-template-columns: minmax(30px, 1fr) minmax(100px, 800px) minmax(30px, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0px;
}

.text_container {
    margin-top: calc(var(--bar-height) + var(--padding));
    margin-bottom: calc(var(--bar-height) + var(--padding));
    grid-column-start: 2;
    background-color: var(--white);
    border-radius: 10px;
}

p {
    margin: var(--padding);
}

.header {
    padding-left: var(--padding);
    background: var(--dark-blue);
    background: var(--blue-gradient);
    min-height: var(--bar-height);
    margin-bottom: var(--padding);
    color: var(--white);
    font-size: 1.6em;
    font-family: var(--title-font);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header a {
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    min-height: var(--bar-height);
    line-height: var(--bar-height);
    vertical-align: center;
    margin-left: var(--padding);
}

.header a:hover,
.footer a:hover,
a.active {
    color: var(--light-blue);
}

.footer {
    display: flex;
    flex-direction: row;
    min-height: var(--bar-height);
    line-height: var(--bar-height);
    vertical-align: calc(center - 50%);
    width: 100%;
    background: var(--dark-blue);
    background: var(--blue-gradient);
    font-family: var(--title-font);
}

.footer a {
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    margin-left: var(--padding);
    padding-left: var(--padding);
}

.footer a img {
    margin-right: calc(var(--padding) * .5);
    height: calc(var(--bar-height) * .6);
    width: calc(var(--bar-height) * .6);
    vertical-align: middle;
}