.header {
    padding-left: 20px;
    background-color: black;
    height: 50px;
    margin-bottom: 20px;
    color: white;
    font-size: 25px;
}

.header a {
    color: white;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    font-size: 25px;
    padding: 12px;
}

a.active {
    color: lightblue;
}