<% provide(:title, "Home") %>

<h1>Hello!</h1>
<p>
    I am Alan Vardy, an aspiring Rails Developer out of Edmonton, Alberta, Canada. I love writing code,
    getting things done, and the endless iteration of improving another thing just a little more.
</p>
<p>
<%= image_tag 'bwface.jpg', class: 'rounded w-100 d-block d-sm-none mx-auto mb-5' %>
<%= image_tag 'bwface.jpg', class: 'rounded w-50 d-none d-sm-block mx-auto mb-5' %>
</p>