<h1 class="display-5">Portfolio</h1>
<p>My work</p>
<p>
    <a href="http://yegrb.com/">YEGRB: Edmonton's Ruby Meetup</a>
</p>
<p>
    <a href="https://www.corneliakelinske.com/">Cornelia Kelinske - Professional Translator and Interpreter</a>
</p>
<p>
    <a href="https://alanvardy-calculator.herokuapp.com/index.html">An in-browser calculator</a>
</p>
<p>
    <a href="https://github.com/alanvardy">Github Profile</a>
</p>
<p>
    <a href="https://exercism.io/profiles/alanvardy">Exercism Profile</a>
</p>