<h1 class="display-5">Resume</h1>
<p>Coming soon!</p>
<table>
    <tr>
        <td>Aspiring Rails Developer &nbsp</td>
        <td> | &nbsp</td>
        <td><a href="https://github.com/alanvardy">Github Profile</a></td>
    </tr>
    <tr>
        <td>Meetup Organizer</td>
        <td> | &nbsp</td>
        <td><a href="http://yegrb.com/">YEGRB: Edmonton's Ruby Meetup</a></td>
    </tr>
    <tr>
        <td>Exercism Mentor</td>
        <td> | &nbsp</td>
        <td><a href="https://exercism.io/profiles/alanvardy">Exercism Profile</a></td>
    </tr>
</table>