/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
$theme-colors: ("grey0": hsl(204, 0%, 100%),
"grey1": hsl(204, 2%, 93%),
"grey2": hsl(204, 3%, 85%),
"grey3": hsl(204, 6%, 60%),
"grey4": hsl(204, 9%, 45%),
"grey5": hsl(204, 12%, 30%),
"primary": hsl(205, 68%, 20%),
"secondary": hsl(14, 95%, 34%),
"dark": hsl(220, 68%, 7%),
"danger": hsl(4, 70%, 40%),
"warning": hsl(12, 92%, 63%),
"info": hsl(234, 82%, 70%),
);

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Spectral:400,600');
$title-font: 'Spectral',
serif;
$font-family-base: 'Open Sans';

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

ul.pagination li a {
  color: map_get($theme-colors, 'grey4');
}

.nav-link {
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;

  &.active {
    border-bottom: 1px solid map_get($theme-colors, 'grey2');
  }
}

.border-secondary {
  border-width: 2px !important;
}

.nav-tabs .nav-item {
  margin-right: 2px;
}

.pagination {
  li {
    margin-right: 10px;
  }

  .active {
    font-weight: bold;
  }
}

h1,
h2,
h3 {
  font-family: $title-font;
}

.navbar-brand {
  font-family: $title-font;
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  margin-top: 50px;
  font-size: 1.2rem;
  font-weight: 700;
}

.nostyle {
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  text-decoration: none;
  color: map_get($theme-colors, 'grey3');

  &:hover {
    color: map_get($theme-colors, 'grey1');
    text-decoration: none;
  }
}

.nostyle-2 {
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  text-decoration: none;
  color: map_get($theme-colors, 'grey3');

  &:hover {
    color: map_get($theme-colors, 'grey1');
    text-decoration: underline;
  }
}

.rounded-circle {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;

  &.fa-wrench {
    padding-left: 7px;
  }

  &.fa-question {
    padding-left: 9px;
  }

  &.fa-lightbulb {
    padding-left: 9px;
  }

}

.fab {
  font-size: 1rem;
}

ul.biglist {
  list-style: none;

  li {
    padding-bottom: 7px;
  }
}

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%237c7d81' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

// application.scss
th {
  background-color: map_get($theme-colors, 'grey2');
  padding-right: 10px;
}

td {
  padding-right: 10px;
}

table {
  margin-bottom: 40px;
  margin-top: 5px;
}

.highlight {


  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-size: 15px;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 20px;

  pre {
    padding-bottom: 10px;
  }

  code,
  pre {
    color: map_get($theme-colors, 'grey0');
    ;
    background-color: map_get($theme-colors, 'dark');
  }

  .hll {
    background-color: #222;
  }

  .err {
    color: #e37170;
    background-color: #3d3535;
  }

  .k {
    color: $orange;
  }

  .p {
    color: #2da5a3;
  }

  .cs {
    color: #cd0000;
    font-weight: 700;
  }

  .gd {
    color: #cd0000;
  }

  .ge {
    color: #ccc;
    font-style: italic;
  }

  .gr {
    color: red;
  }

  .go {
    color: gray;
  }

  .gs {
    color: #ccc;
    font-weight: 700;
  }

  .gu {
    color: purple;
    font-weight: 700;
  }

  .gt {
    color: map_get($theme-colors, 'primary');
  }

  .kc {
    color: #dca3a3;
  }

  .kd {
    color: #ffff86;
  }

  .kn {
    color: #db7734;
    font-weight: 700;
  }

  .kp {
    color: #cdcf99;
  }

  .kr {
    color: #cdcd00;
  }

  .ni {
    color: #b49697;
  }

  .ne {
    color: #c3bf9f;
    font-weight: 700;
  }

  .nn {
    color: #8fbede;
  }

  .vi {
    color: #ffffc7;
  }

  .c,
  .preview-zenburn .highlight .g,
  .preview-zenburn .highlight .cm,
  .preview-zenburn .highlight .cp,
  .preview-zenburn .highlight .c1 {
    color: #7f9f7f;
  }

  .l,
  .preview-zenburn .highlight .x,
  .preview-zenburn .highlight .no,
  .preview-zenburn .highlight .nd,
  .preview-zenburn .highlight .nl,
  .preview-zenburn .highlight .nx,
  .preview-zenburn .highlight .py,
  .preview-zenburn .highlight .w {
    color: #ccc;
  }

  .n,
  .preview-zenburn .highlight .nv,
  .preview-zenburn .highlight .vg {
    color: #dcdccc;
  }

  .o,
  .preview-zenburn .highlight .ow {
    color: #f0efd0;
  }

  .gh,
  .preview-zenburn .highlight .gp {
    color: #dcdccc;
    font-weight: 700;
  }

  .gi,
  .preview-zenburn .highlight .kt {
    color: #00cd00;
  }

  .ld,
  .preview-zenburn .highlight .s,
  .preview-zenburn .highlight .sb,
  .preview-zenburn .highlight .sc,
  .preview-zenburn .highlight .sd,
  .preview-zenburn .highlight .s2,
  .preview-zenburn .highlight .se,
  .preview-zenburn .highlight .sh,
  .preview-zenburn .highlight .si,
  .preview-zenburn .highlight .sx,
  .preview-zenburn .highlight .sr,
  .preview-zenburn .highlight .s1,
  .preview-zenburn .highlight .ss {
    color: #cc9393;
  }

  .m,
  .preview-zenburn .highlight .mf,
  .preview-zenburn .highlight .mh,
  .preview-zenburn .highlight .mi,
  .preview-zenburn .highlight .mo,
  .preview-zenburn .highlight .il {
    color: #8cd0d3;
  }

  .na,
  .preview-zenburn .highlight .nt {
    color: #9ac39f;
  }

  .nb,
  .preview-zenburn .highlight .nc,
  .preview-zenburn .highlight .nf,
  .preview-zenburn .highlight .bp,
  .preview-zenburn .highlight .vc {
    color: map_get($theme-colors, 'warning');
  }
}