<div class="bg-dark mb-3 container rounded-bottom">
    <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-between justify-content-md-start">
            <a href="mailto:alan@alanvardy.com" class="nostyle"><i class="fas fa-copyright"></i><small> <%= Time.now.year %> Alan Vardy</small></a>
                    <%= link_to(login_path, html_options = { class: "nostyle ml-md-3" }) do %>
                        <i class="fas fa-sign-in-alt"></i><small> Admin Login</small>
                    <% end %>
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-between justify-content-md-end">
            <a href="https://github.com/alanvardy/" class="nostyle mr-md-3"><i class="fab fa-github-square"></i><small> Github</small></i></a>
            <a href="mailto:alan@alanvardy.com" class="nostyle"><i class="fas fa-envelope-square"></i><small> Email Me</small></i></a>
        </div>
    </div>
</div>